html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}

.title{
  flex: 3;
  margin: 13px;
}

.controlSec{
  padding: 1%;
  flex: 3;
}

.controlSec button{
  width: 150px;
}

canvas{
  flex: 7;
}

h6{
  margin-left: 20px;
  display: inline;
}